.sidebar-user {
  padding: .75rem 1.5rem;
}

.sidebar-user a {
  text-decoration: none;
  outline: 0;
}

.sidebar-user-title {
  color: #e9ecef;
}

.sidebar-user-subtitle {
  color: #adb5bd;
}

ul ul {
  padding-left: 6px;
}

.sidebar-content [aria-expanded=true]:after, .sidebar-content [data-bs-toggle=collapse]:not(.collapsed):after {
  top: 1.4rem;
  transform: rotate(-135deg);
}

.sidebar-content [data-bs-toggle=collapse]:after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: " ";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.2rem;
  transform: rotate(45deg);
  transition: all .2s ease-out;
}

.badge.bg-light, a.badge.bg-light {
  color: #212529;
}