  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/">
      <span class="align-middle">{{ title }}</span>
    </a>

    <div class="sidebar-user">
      <div class="d-flex justify-content-center">
        <div class="flex-shrink-0">
          <img [src]="avatar()" class="avatar img-fluid rounded me-1" alt="avatar">
        </div>
        <div class="flex-grow-1 ps-2">
          <a class="sidebar-user-title dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            {{ authService.user.firstName | titlecase }}
          </a>
          <app-user-dropdown class="dropdown-menu dropdown-menu-start"></app-user-dropdown>
          <div class="sidebar-user-subtitle">{{ profile.name }}</div>
        </div>
      </div>
    </div>

    <ul class="sidebar-nav" *ngIf="hasRole('ROLE_STUDENT')">
      <li class="sidebar-header">Student</li>
      <li class="sidebar-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="sidebar-link" routerLink="/" data-bs-toggle="collapse">
          <i class="align-middle far fa-circle"></i>
          <i class="fa-solid fa-building-columns"></i>
          <span class="align-middle">Home</span>
        </a>
      </li>
      <li class="sidebar-item" *ngFor="let menu of menus; index as i;" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a [attr.data-bs-target]="'#' + menu.slug" data-bs-toggle="collapse" class="sidebar-link collapsed">
          <i class="align-middle {{ menu.icon }}"></i>
          <span class="align-middle">{{ menu.name }}</span>
        </a>
        <ul [id]="menu.slug" class="sidebar-dropdown list-unstyled collapse">
          <li class="sidebar-item" *ngFor="let submenu of menu.menus">
            <a class="sidebar-link" [routerLink]="[menu.slug, submenu.slug]">
              <i class="align-middle {{ submenu.icon }}"></i>
              {{ submenu.name }}
            </a>
          </li>
        </ul>
      </li>
      <li class="sidebar-item" *ngFor="let menu of menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
        <a class="sidebar-link" [routerLink]="['student', menu.slug]">
          <i class="align-middle {{ menu.icon }}"></i>
          <span class="align-middle">{{ menu.name | titlecase }}</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar-nav" *ngIf="hasRole('ROLE_EMPLOYEE')">
      <li class="sidebar-header">Office</li>
      <li class="sidebar-item" *ngFor="let menu of employeeMenuList" routerLinkActive="active">
        <a class="sidebar-link" [routerLink]="[menu.url]">
          <i class="align-middle" data-feather="hexagon"></i>
          <span class="align-middle">{{ menu.name }}</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar-nav" *ngIf="hasRole('ROLE_ADMIN')">
      <li class="sidebar-header">Admin</li>
      <li class="sidebar-item" *ngFor="let menu of adminMenuList" routerLinkActive="active">
        <a class="sidebar-link" [routerLink]="[menu.url]">
          <i class="align-middle" data-feather="hexagon"></i>
          <span class="align-middle">{{ menu.name }}</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar-nav" *ngIf="hasRole('ROLE_USER')">
      <li class="sidebar-header">User</li>
      <li class="sidebar-item" *ngFor="let menu of userMenuList" routerLinkActive="active">
        <a class="sidebar-link" [routerLink]="[menu.url]">
          <i class="align-middle" data-feather="hexagon"></i>
          <span class="align-middle">{{ menu.name }}</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar-nav" *ngIf="false">
      <li class="sidebar-header">Site</li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/profile" routerLinkActive="router-link-active" >
          <i class="align-middle" data-feather="user"></i>
          <span class="align-middle">Profile</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/logout" routerLinkActive="router-link-active" >
          <i class="align-middle" data-feather="log-out"></i>
          <span class="align-middle">Logout</span>
        </a>
      </li>
    </ul>

    <div class="sidebar-cta">
      <div class="sidebar-cta-content">
        <strong class="d-inline-block mb-2">¿Necesitas ayuda?</strong>
        <div class="mb-3 text-sm">
          ¿Tienes problemas al usar la aplicación? Contáctanos.
        </div>
        <div class="d-grid">
          <a routerLink="/help-center/" class="btn btn-primary"
            >Centro de Ayuda</a
          >
        </div>
      </div>
    </div>
  </div>
