<div class="dropdown-menu-header">
  4 New Notifications
</div>
<div class="list-group">
  <a class="list-group-item">
    <div class="row g-0 align-items-center">
      <div class="col-2">
        <i class="text-danger" data-feather="alert-circle"></i>
      </div>
      <div class="col-10">
        <div class="text-dark">Update completed</div>
        <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
        <div class="text-muted small mt-1">30m ago</div>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item">
    <div class="row g-0 align-items-center">
      <div class="col-2">
        <i class="text-warning" data-feather="bell"></i>
      </div>
      <div class="col-10">
        <div class="text-dark">Lorem ipsum</div>
        <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
        <div class="text-muted small mt-1">2h ago</div>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item">
    <div class="row g-0 align-items-center">
      <div class="col-2">
        <i class="text-primary" data-feather="home"></i>
      </div>
      <div class="col-10">
        <div class="text-dark">Login from 192.186.1.8</div>
        <div class="text-muted small mt-1">5h ago</div>
      </div>
    </div>
  </a>
  <a href="#" class="list-group-item">
    <div class="row g-0 align-items-center">
      <div class="col-2">
        <i class="text-success" data-feather="user-plus"></i>
      </div>
      <div class="col-10">
        <div class="text-dark">New connection</div>
        <div class="text-muted small mt-1">Christina accepted your request.</div>
        <div class="text-muted small mt-1">14h ago</div>
      </div>
    </div>
  </a>
</div>
<div class="dropdown-menu-footer">
  <a href="#" class="text-muted">Show all notifications</a>
</div>
