<div class="row vh-100">
  <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
    <div class="d-table-cell align-middle">
      <div class="text-center mt-4 animate__animated animate__fadeIn">
        <div class="mx-4 my-4 mx-md-5">
          <h2>Select a profile</h2>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="m-sm-4">
            <div class="mb-3 animate__animated animate__fadeIn">
              <div *ngIf="!contentLoaded; else contentLoadedBlock">
                <ngx-skeleton-loader count="3"></ngx-skeleton-loader>
              </div>
              <ng-template #contentLoadedBlock>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let lang of languages" (click)="selectLanguage(lang)">
                    {{ lang.name }}
                    <img src="/assets/img/languages/{{ lang.code }}.png" [alt]="lang.name">
                  </li>
                </ul>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
