<nav class="navbar navbar-expand navbar-light navbar-bg">
  <a class="sidebar-toggle js-sidebar-toggle">
    <i class="hamburger align-self-center"></i>
  </a>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align">
      <li class="nav-item">
        <div class="nav-icon">
          <div class="position-relative">
            <div class="btn" (click)="askForRefreshToken()"
              [ngClass]="{'btn-outline-warning text-dark': myTime.hours == 0 && myTime.minutes <= 10 && myTime.minutes > 5 , 'btn-danger': myTime.hours == 0 && myTime.minutes <= 5}">
              <i class="align-middle mr-1" data-feather="clock"
                [ngClass]="{'text-dark': myTime.minutes <= 10 && myTime.minutes > 5, 'text-write': myTime.minutes <= 5}"></i>
              {{ myTime.hours >= 10 ? myTime.hours : '0' + myTime.hours }}h
              {{ myTime.minutes >= 10 ? myTime.minutes : '0' + myTime.minutes }}m
              {{ myTime.seconds >= 10 ? myTime.seconds : '0' + myTime.seconds }}s
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="false">
        <a class="nav-icon dropdown-toggle" id="alertsDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <i class="align-middle" data-feather="bell"></i>
            <span class="indicator">4</span>
          </div>
        </a>
        <app-notification-dropdown class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown"></app-notification-dropdown>
      </li>
      <li class="nav-item dropdown" *ngIf="false">
        <a class="nav-flag dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown">
          <img src="https://demo.adminkit.io/img/flags/us.png" alt="English">
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
          <a class="dropdown-item" href="#">
            <img src="https://demo.adminkit.io/img/flags/us.png" alt="English" class="align-middle me-1" width="20">
            <span class="align-middle">English</span>
          </a>
          <a class="dropdown-item" href="#">
            <img src="https://demo.adminkit.io/img/flags/es.png" alt="Spanish" class="align-middle me-1" width="20">
            <span class="align-middle">Spanish</span>
          </a>
          <a class="dropdown-item" href="#">
            <img src="https://demo.adminkit.io/img/flags/ru.png" alt="Russian" class="align-middle me-1" width="20">
            <span class="align-middle">Russian</span>
          </a>
          <a class="dropdown-item" href="#">
            <img src="https://demo.adminkit.io/img/flags/de.png" alt="German" class="align-middle me-1" width="20">
            <span class="align-middle">German</span>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="false">
        <a class="nav-icon dropdown-toggle" id="messagesDropdown" data-bs-toggle="dropdown">
          <div class="position-relative">
            <i class="align-middle" data-feather="message-square"></i>
          </div>
        </a>
        <app-message-dropdown class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="messagesDropdown"></app-message-dropdown>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
          <i class="align-middle" data-feather="settings"></i>
        </a>
        <a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
          <img [src]="avatar()" class="avatar img-fluid rounded me-1" id="avatar" alt="avatar">
          <span class="text-dark">{{ authService.user.firstName | titlecase }}</span>
        </a>
        <app-user-dropdown class="dropdown-menu dropdown-menu-end"></app-user-dropdown>
      </li>
    </ul>
  </div>
</nav>
