<div class="wrapper">
  <nav id="sidebar" class="sidebar js-sidebar">
    <app-sidebar></app-sidebar>
  </nav>

  <div class="main">
    <app-navbar></app-navbar>

    <main class="content">
      <div class="container-fluid p-0">
        <router-outlet></router-outlet>
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</div>
