.badge-primary-light {
  background-color: rgba(59, 125, 221, 0.15);
  color: color-yiq(rgba(59, 125, 221, 0.15));
  color: #3b7ddd;
}
.badge-secondary-light {
  background-color: rgba(108, 117, 125, 0.15);
  color: color-yiq(rgba(108, 117, 125, 0.15));
  color: #6c757d;
}
.badge-success-light {
  background-color: rgba(28, 187, 140, 0.15);
  color: color-yiq(rgba(28, 187, 140, 0.15));
  color: #1cbb8c;
}
.badge-info-light {
  background-color: rgba(23, 162, 184, 0.15);
  color: color-yiq(rgba(23, 162, 184, 0.15));
  color: #17a2b8;
}
.badge-warning-light {
  background-color: rgba(252, 185, 44, 0.15);
  color: color-yiq(rgba(252, 185, 44, 0.15));
  color: #fcb92c;
}
.badge-danger-light {
  background-color: rgba(220, 53, 69, 0.15);
  color: color-yiq(rgba(220, 53, 69, 0.15));
  color: #dc3545;
}
.badge-light-light {
  background-color: rgba(245, 247, 251, 0.15);
  color: color-yiq(rgba(245, 247, 251, 0.15));
  color: #f5f7fb;
}
.badge-dark-light {
  background-color: rgba(33, 37, 41, 0.15);
  color: color-yiq(rgba(33, 37, 41, 0.15));
  color: #212529;
}

