<a class="dropdown-item" routerLink="user/profile">
  <i class="align-middle me-1" data-feather="user"></i> Profile
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" routerLink="user/notifications">
  <i class="align-middle me-1" data-feather="bell"></i> Notifications
</a>
<a class="dropdown-item" routerLink="user/messages">
  <i class="align-middle me-1" data-feather="message-square"></i> Messages
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" routerLink="help-center">
  <i class="align-middle me-1" data-feather="help-circle"></i> Help Center
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item" *ngIf="authService.isAuthenticated()" (click)=logout()>
  <i class="align-middle me-1" data-feather="log-out"></i> Log out
</a>
